:root {
  --nav-blue: #3d5ce2;
  --main-text: #6b6b6b;
}

body {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
}

.navigation {
  background-color: #3d5ce2;
  overflow: visible;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 10px;
  top: 0;
}

.stats p {
  float: right;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  margin: 8px;
}

.selectArea a {
  float: left;
}

.selectArea a:hover {
  background: #404ee4;
}

.selectArea img {
  transition: transform 0.2s;
  width: 40px;
  padding: 4px 10px;
}

.selectArea img:hover {
  transition: transform 0.5s;
  transform: rotate(40deg);
}

.selected {
  background: #404ee4;
}

.main {
  margin-top: 60px;
}

.main h2 {
  font-size: 20px;
  color: #6b6b6b;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: monospace;
}

.main p{
  text-align: center;
  color: var(--main-text);
  font-family: monospace;
}

.copyright {
  color: #696969;
  font-size: 14px;
}

.drop {
  float: left;
  position: relative;
  display: inline-block;
}

.drop:hover {
  background-color: #404ee4;
  z-index: 2;
  cursor: pointer;
}

.drop:hover img {
  transition: transform 0.5s;
  transform: rotate(40deg);
}

.drop:hover .dropdown {
  display: table;
}

.dropdown {
  display: none;
  position: fixed;
  background-color: #404040;
  float: left;
  z-index: 1;
  box-shadow: 0px 2px 5px;
}

.dropdown-content {
  font-size: 20px;
  padding: 5px 10px;
  font-family: monospace;
  width: 160px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown-content:hover {
  transition: 0.3s;
  transform: translateX(10px);
  box-shadow: -10px 0px;
}

.leftDia {
  float: left;
  width: 45%;
  margin-left: 2%;
}

.rightDia {
  float: right;
  width: 45%;
  margin-right: 2%;
}

.text-div{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  color: var(--main-text);
}

.livedata {
  float: left;
  font-size: 28px;
  padding: 15px;
  font-family: monospace;
  color: var(--main-text);
  border-right: 2px solid var(--nav-blue);
}

.center-dateselector{
  text-align: center;
}

.dateSelecter{
  color: var(--main-text);
  border: none;
  padding: 6px;
  font-family: monospace;
}

.dateBtn{
  background-color: var(--nav-blue);
  font-family: monospace;
  padding: 10px;
  border: 5px solid var(--nav-blue);
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.dateBtn:hover{
  background-color: white;
  color: var(--main-text);
  cursor: pointer;
}

.option-div{
  padding-top: 50px;
  font-family: monospace;
  font-size: 25px;
  color: var(--main-text);
}

.option-div table{
  margin: auto;
}

.option-div tr{
  margin-left: 1px;
}

.option-div select{
  background-color: var(--nav-blue);
  color: white;
  font-size: 20px;
  border: none;
}

option{
  background-color: #404040;
  color: red;
}

.option-div button{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  display: block;
  background-color: var(--nav-blue);
  color: white;
  font-size: 20px;
  border: 5px solid var(--nav-blue);
}

.option-div button:hover{
  background-color: white;
  color: var(--main-text);
  cursor: pointer;
}

.option-data{
  margin-bottom: 20px;
}

#liveTemp, #liveHumidity, #livePressure, #liveVelocity {
  margin: 10px 0px;
  margin-right: 5px;
}

#logo {
  float: left;
  width: 150px;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 6px;
}
